{%
set classes = [
'bio-homepage',
]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      <div class="bio-homepage__slideshow col-sm-12">
        {{ content.slideshow }}
      </div>
      <div class="bio-homepage__left col-sm-9">
        {{ content.left }}
      </div>
      <div class="bio-homepage__right col-sm-3">
        {{ content.right }}
      </div>
    </div>
  </div>
{% endif %}
