// Holygrail layout
.holygrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.holygrail-body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
@media (max-width: @grid-float-breakpoint-max) {
  .holygrail,
  .holygrail-body {
    > * {
      width: 100%;
    }
  }
}
